@font-face {
    font-family: 'Archia';
    font-style: normal;
    font-weight: 100;
    src: local('archia-light-webfont'), url('fonts/archia-light-webfont.woff2') format('woff');
}

@font-face {
    font-family: 'Archia';
    font-style: normal;
    font-weight: 200;
    src: local('archia-medium-webfont'), url('fonts/archia-medium-webfont.woff2') format('woff');
}
    
@font-face {
    font-family: 'Archia';
    font-style: normal;
    font-weight: 300;
    src: local('archia-semibold-webfont'), url('fonts/archia-semibold-webfont.woff2') format('woff');
} 

@font-face {
    font-family: 'Archia';
    font-style: normal;
    font-weight: 400;
    src: local('archia-bold-webfont'), url('fonts/archia-bold-webfont.woff2') format('woff');
}